* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media screen and (min-width: 1200px) {
    .main-container {
        display: grid;
        grid-template: auto auto / auto 1200px auto;
        grid-template-areas: 
        '. hero .'
        '. productGallery .';
    }
        .hero-section {
            grid-area: hero;
            height: 50vh;
        }
            .hero-section img {
                max-width: 1200px;
                max-height: 50vh;
                margin-left: 0px;
                margin-right: 0px;
            }
        .productGallery-section {
            grid-area: productGallery;
            padding: 5vh 0px;
            display: grid;
            grid-gap: 1em;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            overflow: hidden;
        }
            .productGallery-section img {
                width: 100%;
            }

}