body {
  background-color: #ffffff; }

.galleryFilters {
  margin: 20px auto;
  align-content: center; }
  .galleryFilters .filterList {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .galleryFilters .filterList .filterListItem {
      margin-right: 10px; }
      .galleryFilters .filterList .filterListItem.active {
        background-color: #9517c3; }
  .galleryFilters .violetBtn {
    background-color: #610f7f;
    color: #ffffff; }
  .galleryFilters .searchBar {
    flex-grow: 1;
    width: auto;
    border-color: #610f7f; }
    .galleryFilters .searchBar:focus {
      box-shadow: 0px 0px 5px #610f7f; }

.galleryContainer .thumbnail {
  padding-bottom: 20px;
  position: relative;
  border-radius: 5px; }
  .galleryContainer .thumbnail img {
    max-width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }
  .galleryContainer .thumbnail .item-desc {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #610f7f;
    padding: 5px 10px;
    border-radius: 5px; }

/* END - Galleri - Filter */
