body {
  background-color: #ffffff; }

.galleryFilters {
  margin: 20px auto;
  align-content: center; }
  .galleryFilters .filterList {
    display: flex;
    justify-content: space-between;
    margin: 0; }
    .galleryFilters .filterList .filterListItem {
      margin-right: 10px; }
      .galleryFilters .filterList .filterListItem.active {
        background-color: #40A242; }
  .galleryFilters .violetBtn {
    background-color: #40A242;
    color: #ffffff; }
  .galleryFilters .searchBar {
    flex-grow: 1;
    width: auto;
    border-color: #40A242; }
    .galleryFilters .searchBar:focus {
      box-shadow: 0px 0px 5px #40A242; }

.galleryContainer .thumbnail {
  position: relative;
  justify-content: center;
  border: 1px solid gray; 
}
  .galleryContainer .thumbnail img {
    max-width: 100%;
    box-sizing: border-box;
     }
    .galleryContainer .thumbnail:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    }
  .galleryContainer .thumbnail .item-desc {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #40A242;
    padding: 5px 10px;
    border-radius: 5px; }

    
/* END - Galleri - Filter */

.banner-container {
  width: 100%;
}
.banner-container img {
  width: 100%;
}
.galleryContainer p {
  margin-bottom: 8%; 
  text-align: center;
}


.page-footer {
  height: 91vh;
  width: 100%;
  background-color: #40A242;
}
